<h1>Top#index</h1>
<p>シンプルな家計簿アプリです。</p>

<h2>収支設定</h2>
<ul>
	<li><%= link_to "収入設定", :incomes %></li>
</ul>

<ul>
	<li><%= link_to "固定費設定", :fixedcosts %></li>
</ul>

<ul>
	<li><%= link_to "変動費設定", :variablecosts %></li>
</ul>

