<h1>Top#index</h1>
<p>シンプルな家計簿アプリです。</p>

<h2>タイプ</h2>
<ul>
  <li><%= link_to '収入の設定', :incomes %></li>
  <li><%= link_to '固定費の設定', :fixedcosts %></li>
  <li><%= link_to '変動費の設定', :variablecosts %></li>
</ul>