<h2>収入の詳細</h2>

<%= link_to "編集", edit_fixedcost_path %>
<%= link_to "固定費一覧に戻る", fixedcosts_path %>

<div>
  <tr>
    <th>名前</th>
    <th><%= @fixedcost.name %></th>
  </tr>
  <tr>
    <th>備考</th>
    <th><%= @fixedcost.description %></th>
  </tr>
</div>